<div class="search-form">
  <input type="text" name="keyword" class="search-input" placeholder="キーワードを入力">
  <input type="submit" value= "&#xf002; " class="fas search-btn">
</div>
<div class="notes">
  <div class="note-order">
    <div class="feed">
      <p class="feed-title"><b>記事フィード</b></p>
      <%= link_to root_path, class: "trend" do %>
        <i class="fas fa-fire fire-icon"></i>トレンド
      <% end %>
      <%= link_to notes_order_index_path, class: "asc" do %>
        <i class="fas fa-sort-numeric-down asc-icon"></i>新着順
      <% end %>
    </div>
  <div>