<div class="wrqpper">
  <header>
    <%# if user_signed_in? %>
      <%# <div class="upper-header">
        <div class="upper-left">
          <a href="#">Plans App</a>
        </div>
        <div class="upper-right">
          <a href="#" class="upper-notifi">通知</a>
          <a href="#" class="upper-icon">ユーザーアイコン</a>
        </div>
      </div> %>
    <%# else %> 
      <div class="upper-header">
        <div class="upper-left">
          <a href="#">Plans App</a>
        </div>
        <div class="upper-right">
          <a href="#" class="upper-regist">ユーザー登録</a>
          <a href="#" class="upper-session">ログイン</a>
        </div>
      </div>
      <div class="lower-header">
        <div class="lower-left">
          <h2 class="catch-copy">Tell me your plan.</h2>
          <p class="explain">Plans Appは本や論文に関する知識を記録・共有するためのサービスです。<br>
          あなたのアクションプランを共有しましょう！</p>
        </div>
        <div class="lower-right">
          <div class="sns-session">
            <p class="sns-login">SNSで登録</p>
            <a href="#" class="twitter-session"><i class="fab fa-twitter twitter-icon"></i>Twitter</a>
            <a href="#" class="facebook-session"><i class="fab fa-facebook-square facebook-icon"></i>Facebook</a>
          </div>
        </div>
      </div>
    <%# end %>
  </header>
  <main>
    <div class="search-form">
      <input type="text" name="keyword" class="search-input" placeholder="キーワードを入力">
      <input type="submit" value= "&#xf002; " class="fas search-btn">
    </div>
    <div class="notes">
      <div class="note-order">
        <div class="feed">
          <p class="feed-title"><b>記事フィード</b></p>
          <a href="#" id="trend-feed" class="trend"><i class="fas fa-fire fire-icon"></i>トレンド</a>
          <a href="#" id="asc-feed" class="asc"><i class="fas fa-sort-numeric-down asc-icon"></i>新着順</a>
        </div>
      <div>
      <div class="notes-trend">
      <p class="note-fire"><i class="fas fa-fire trend-fire"></i>トレンド</p>
        <div class="note-user">
            <a href="#" class="user-icon">丸</a>
            <a href="#" class="user-id">test</a>
          <div class="created-at">
            が2021年01月01日に投稿
          </div>
        </div>
        <div class="note-title">
          <h2>タイトル</h2>
        </div>
        <div class="note-tag">
          <i class="fas fa-tags tag-img"></i>
          <a href="#" class="tag">睡眠</a>
          <a href ="#" class="tag">生産性</a>
        </div>
        <div class="note-opt">
          <div class="favorite">
            <i class="far fa-heart like-btn"></i>
          </div>
          <div class="comment-num">
            <i class="far fa-comment comment-btn"></i>
          </div>
        </div>
      </div>
       <div class="notes-trend">
        <div class="note-user">
            <a href="#" class="user-icon">丸</a>
            <a href="#" class="user-id">test</a>
          <div class="created-at">
            が2021年01月01日に投稿
          </div>
        </div>
        <div class="note-title">
          <h2>タイトル</h2>
        </div>
        <div class="note-tag">
          <i class="fas fa-tags tag-img"></i>
          <a href="#" class="tag">睡眠</a>
          <a href ="#" class="tag">生産性</a>
        </div>
        <div class="note-opt">
          <div class="favorite">
            <i class="far fa-heart like-btn"></i>
          </div>
          <div class="comment-num">
            <i class="far fa-comment comment-btn"></i>
          </div>
        </div>
      </div>
       <div class="notes-trend">
        <div class="note-user">
            <a href="#" class="user-icon">丸</a>
            <a href="#" class="user-id">test</a>
          <div class="created-at">
            が2021年01月01日に投稿
          </div>
        </div>
        <div class="note-title">
          <h2>タイトル</h2>
        </div>
        <div class="note-tag">
          <i class="fas fa-tags tag-img"></i>
          <a href="#" class="tag">睡眠</a>
          <a href ="#" class="tag">生産性</a>
        </div>
        <div class="note-opt">
          <div class="favorite">
            <i class="far fa-heart like-btn"></i>
          </div>
          <div class="comment-num">
            <i class="far fa-comment comment-btn"></i>
          </div>
        </div>
      </div>
       <div class="notes-trend">
        <div class="note-user">
            <a href="#" class="user-icon">丸</a>
            <a href="#" class="user-id">test</a>
          <div class="created-at">
            が2021年01月01日に投稿
          </div>
        </div>
        <div class="note-title">
          <h2>タイトル</h2>
        </div>
        <div class="note-tag">
          <i class="fas fa-tags tag-img"></i>
          <a href="#" class="tag">睡眠</a>
          <a href ="#" class="tag">生産性</a>
        </div>
        <div class="note-opt">
          <div class="favorite">
            <i class="far fa-heart like-btn"></i>
          </div>
          <div class="comment-num">
            <i class="far fa-comment comment-btn"></i>
          </div>
        </div>
      </div>
       <div class="notes-trend">
        <div class="note-user">
            <a href="#" class="user-icon">丸</a>
            <a href="#" class="user-id">test</a>
          <div class="created-at">
            が2021年01月01日に投稿
          </div>
        </div>
        <div class="note-title">
          <h2>タイトル</h2>
        </div>
        <div class="note-tag">
          <i class="fas fa-tags tag-img"></i>
          <a href="#" class="tag">睡眠</a>
          <a href ="#" class="tag">生産性</a>
        </div>
        <div class="note-opt">
          <div class="favorite">
            <i class="far fa-heart like-btn"></i>
          </div>
          <div class="comment-num">
            <i class="far fa-comment comment-btn"></i>
          </div>
        </div>
        <div class="more-note">
            <a href="#" class="more-link">もっと見る</a>
          </div>
      </div>
    </div>
    <footer>
      <div class="footer">
        <div class="footer-left">
          <div class="concept">
            <a href="#" class="footer-title">Plans App</a>
            <p class="footer-copy">Tell me your plan.</p>
            <div class="footer-sns">
              <a href="#" class="twitter-link"><i class="fab fa-twitter footer-twitter"></i></a>
              <a href="#" class="facebook-link"><i class="fab fa-facebook-square footer-facebook"></i></a>
            </div>
            <p class="small"><small>@2021 plans.com</small></p>
          </div>
        </div>
        <div class="footer-right">
          <div class="footer-info">
            <div class="information-left">
              <p class="information"><b>Plans App</b></p>
              <ul class="information-lists">
                <a href="#"><li>About</li></a>
                <a href="#"><li>利用規約</li></a>
                <a href="#"><li>プライバシー</li></a>
                <a href="#"><li>ガイドライン</li></a>
              </ul>
            </div>
            <div class="information-right">
              <p class="information"><b>About</b></p>
              <ul class="information-lists-second">
                <a href="#"><li>お知らせ</li></a>
                <a href="#"><li>ご意見</li></a>
                <a href="#"><li>ヘルプ</li></a>
                <a href="#"><li>広告掲載</li></a>
              </ul>
            </div>
            <div class="example">
              <p class="increments"><b>Increments</b></p>
              <ul class="example-lists">
                <a href="#"><li>About</li></a>
                <a href="#"><li>ブログ</li></a>
                <a href="#"><li>Team</li></a>
                <a href="#"><li>Job</li></a>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </footer>
  </main>
</div>