<div class="wrqpper">
  <%= render 'header' %>
  <main>
    <%= render 'search' %>
      <div class="notes">
        <div class="notes-trend">
          <p class="note-fire"><i class="fas fa-sort-numeric-down asc-icon-notes"></i>新着順</p>
          <%= render partial: 'notes', collection: @notes %>
            <div class="more-note">
              <a href="#" class="more-link">もっと見る</a>
            </div>
        </div>
      </div>
    <footer>
      <div class="footer">
        <%= render 'shared/footer' %>
      </div>
    </footer>
  </main>
</div>