<div class="footer-left">
    <div class="concept">
    <a href="#" class="footer-title">Plans App</a>
    <p class="footer-copy">Tell me your plan.</p>
    <div class="footer-sns">
      <a href="#" class="twitter-link"><i class="fab fa-twitter footer-twitter"></i></a>
      <a href="#" class="facebook-link"><i class="fab fa-facebook-square footer-facebook"></i></a>
    </div>
    <p class="small"><small>@2021 plans.com</small></p>
  </div>
</div>
<div class="footer-right">
  <div class="footer-info">
    <div class="information-left">
      <p class="information"><b>Plans App</b></p>
      <ul class="information-lists">
        <a href="#"><li>About</li></a>
        <a href="#"><li>利用規約</li></a>
        <a href="#"><li>プライバシー</li></a>
        <a href="#"><li>ガイドライン</li></a>
      </ul>
    </div>
    <div class="information-right">
      <p class="information"><b>About</b></p>
      <ul class="information-lists-second">
        <a href="#"><li>お知らせ</li></a>
        <a href="#"><li>ご意見</li></a>
        <a href="#"><li>ヘルプ</li></a>
        <a href="#"><li>広告掲載</li></a>
      </ul>
    </div>
    <div class="example">
      <p class="increments"><b>Increments</b></p>
      <ul class="example-lists">
        <a href="#"><li>About</li></a>
        <a href="#"><li>ブログ</li></a>
        <a href="#"><li>Team</li></a>
        <a href="#"><li>Job</li></a>
      </ul>
    </div>
  </div>
</div>