<%= link_to root_path do %>
  <i class="fas fa-home home"></i>
<% end %>
<%= link_to new_note_path, class: "post" do %>
  <i class="fas fa-pen-square"></i>投稿する
<% end %>
<a href="#" class="upper-notification"><i class="far fa-bell"></i>0</a>