<div class="session-header">
  <%= render 'shared/session_header' %>
  <div class="session-right">
    <%= render 'shared/header_links' %>
    <%= link_to user_path(current_user.id), class: 'upper-usericon' do %>
      <% if current_user.intro.present? %>
        <div class="session-usericon">
        <%= image_tag current_user.intro.image, class: "index-icon", alt: "ユーザーアイコン"%>
        </div> 
      <% else %>
        <div class="session-usericon">
          <img src="/assets/default.png" class="index-icon" alt="ユーザーアイコン">
        </div>
      <% end %>
    <% end %>
  </div>
</div>