.memo-main {
  height: 100%;
  width: 100vw;
}

.memo-user-nickname {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}

.memo-form {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.memo-fields {
  width: 100vw;
  text-align: center;
}

.memo-content-field {
  width: 80%;
  padding: 3px 8px;
  margin-right: 5px;
}

.memo-submit {
  padding: 3px 8px;
  margin-left: 5px;
  border: 1px solid rgb(56, 135, 224);
  background-color: rgb(56, 135, 224);
  color: white;
  border-radius: 3px;
}

.memo {
  width: 100%;
  height: 6%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.memo-date {
  color: gray;
  font-size: 13px;
}

.memo-content {
  font-size: 18px;
}

div[data-check="true"] {
  background-color: #585555;
}

.memo-box {
  border: 1px solid black;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80vh;
}

.box {
  border: 1px solid black;
  display: flex;
  flex-flow: row wrap;
  overflow: scroll;
}

.item {
  border: 1px solid lightgray;
}

.dragging {
  opacity: 0.5;
}

.box1 span {
  margin: 0 auto;
  font-weight: bold;
  font-size: 15px;
}

.box2 {
  display: flex;
  flex-direction: column;
}

.box2 span {
  margin: 0 auto;
  font-weight: bold;
  font-size: 15px;
}

.over {
  background-color: rgba(255, 255, 0, 0.3);
}
