.wrapper {
  overflow: scroll;
}

.session-header {
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  background-color: rgb(56, 135, 224);
}

.session-left {
  margin-top: 15px;
}

.session-left a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.session-left a:hover {
  color: lightgrey;
  text-decoration: none;
}

.session-right {
  display: flex;
}

.session-right a {
  margin-left: 20px;
  text-decoration: none;
  font-size: 17px;
  color: white;
}

.session-right a:hover {
  text-decoration: none;
  color: lightgray;
}

.home {
  margin-top: 23px;
}

.post {
  margin-top: 20px;
}

.upper-notification {
  margin-top: 20px;
}

.index-icon {
  height: 40px;
  width: 40px;
  margin-top: 13px;
  object-fit: cover;
  border: solid 1px #fff;
  border-radius: 70px;
}

.index-icon:hover {
  opacity: 0.7;
  text-decoration: none;
}

header {
  height: 40vh;
  width: 100vw;
  background-color: rgb(56, 135, 224);
}

.upper-header {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-around;
}

.upper-left {
  margin-top: 30px;
}

.upper-left a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.upper-left a:hover {
  color: lightgrey;
  text-decoration: none;
}

.upper-right {
  margin-top: 30px;
}

.upper-right a {
  margin-left: 10px;
  text-decoration: none;
  color: white;
}

.upper-regist:hover {
  background-color: rgba(192, 237, 232, 0.5);
  color: white;
  text-decoration: none;
}

.upper-session {
  border-bottom: solid 1px rgb(56, 135, 224);
}

.upper-session:hover {
  color: white;
}

.upper-regist {
  border: solid 1px white;
  border-width: medium;
  border-radius: 7%;
  padding: 8px;
}

.guest-session:hover {
  color: white;
}

.lower-header {
  height: 30vh;
  width: 100vw;
  display: flex;
  background-image: url("https://img.freepik.com/free-vector/reading-books-seamless-pattern_204216-58.jpg?size=338&ext=jpg");
}

.lower-left {
  height: 20vh;
  width: 50vw;
  text-align: center;
}

.catch-copy {
  margin: 20px auto 0;
  width: 40vw;
  background-color: white;
  border: solid 1px white;
  border-width: medium;
  border-radius: 5%;
  padding: 10px 5px;
}

.explain {
  margin: 20px auto 10px;
  width: 40vw;
  background-color: white;
  border: solid 1px white;
  border-width: medium;
  border-radius: 5%;
  padding: 10px 5px;
}

.lower-right {
  height: 20vh;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sns-login {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: white;
  border: solid 1px white;
  border-width: medium;
  border-radius: 5%;
  padding: 7px 15px;
}

.twitter-session {
  margin-right: 5px;
  text-decoration: none;
  color: black;
  background-color: white;
  border: solid 1px white;
  border-width: medium;
  border-radius: 7%;
  padding: 7px 15px;
}

.twitter-session:hover {
  background-color: lightgray;
  border: solid 1px lightgray;
  border-width: medium;
  border-radius: 7%;
  text-decoration: none;
  color: black;
}

.twitter-icon {
  margin-right: 5px;
  color: rgb(71, 187, 233);
  font-size: 20px;
}

.facebook-session {
  margin-left: 5px;
  text-decoration: none;
  color: black;
  background-color: white;
  border: solid 1px white;
  border-width: medium;
  border-radius: 7%;
  padding: 7px 15px;
}

.facebook-session:hover {
  background-color: lightgray;
  border: solid 1px lightgray;
  border-width: medium;
  border-radius: 7%;
  text-decoration: none;
  color: black;
}

.facebook-icon {
  margin-right: 5px;
  color: rgb(8, 100, 238);
  font-size: 20px;
}

.search-form {
  padding: 30px 0;
  text-align: center;
}

.search-input {
  width: 50vw;
  padding: 5px;
}

.search-btn {
  border: none;
  outline: none;
  background: transparent;
}

.search-btn:hover {
  cursor: pointer;
}

main {
  height: 230vh;
  width: 100vw;
  background-color: rgb(240, 236, 236);
}

.feed {
  text-align: center;
  margin-bottom: 20px;
}

.feed a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: gray;
  font-weight: bold;
  border-radius: 7%;
  padding: 7px 15px;
}

.feed a:hover {
  background-color: lightgray;
  text-decoration: none;
  color: gray;
}

.feed a:active {
  background-color: rgb(56, 135, 224);
}

.notes {
  padding-bottom: 20px;
}

.notes-trend {
  margin: 0 auto;
  background-color: white;
  width: 70vw;
}

.note-fire {
  border-bottom: solid 1px lightgray;
  padding: 10px;
}

.trend-fire {
  color: rgb(87, 154, 255);
  font-size: 20px;
}

.asc-icon-notes {
  color: rgb(87, 154, 255);
  font-size: 20px;
}

.note-user {
  display: flex;
  padding-top: 10px;
  padding-left: 15px;
}

.note-user a {
  text-decoration: none;
}

.user-icon {
  height: 35px;
  width: 35px;
  object-fit: cover;
  border: solid 1px #fff;
  border-radius: 70px;
}

.user-icon:hover {
  color: white;
  text-decoration: none;
  opacity: 0.8;
}

.user-id {
  color: black;
}

.user-id:hover {
  color: black;
}

.created-at {
  color: gray;
  padding-left: 5px;
}

.note-title {
  padding: 10px 0;
  padding-left: 15px;
}

.note-title h3 {
  border-bottom: solid 1px white;
}

.note-title h3:hover {
  display: inline-block;
  border-bottom: solid 1px black;
}

.note_show_links {
  color: black;
}

.note_show_links:hover {
  color: black;
}

.note-options {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #f0f0f0;
}

.note-tag {
  margin-left: 5px;
  padding-left: 15px;
  padding-bottom: 10px;
}

.tag {
  text-decoration: none;
  color: black;
  border-bottom: solid 1px white;
}

.tag:hover {
  border-bottom: solid 1px black;
  text-decoration: none;
  color: black;
}

.note-option-icon {
  display: flex;
  float: right;
}

.like-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #808080;
  margin-left: 20px;
}

.favorite-count {
  color: #808080;
  font-weight: bold;
}

.comment-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #808080;
  margin-left: 20px;
  margin-right: 5px;
}

.comment-count {
  color: #808080;
  font-weight: bold;
}

.more-note {
  padding: 10px 0;
}

.more-link {
  text-decoration: none;
  color: black;
  border-bottom: solid 1px white;
}

.more-link:hover {
  border-bottom: solid 1px black;
  text-decoration: none;
  color: black;
}

.footer {
  width: 100vw;
  padding: 30px 0;
  display: flex;
  background-color: #3e3e3e;
}

.footer-left {
  width: 50vw;
}

.concept {
  text-align: center;
}

.footer-title {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.footer-title:hover {
  text-decoration: none;
  color: white;
  opacity: 0.7;
}

.footer-copy {
  color: white;
  font-weight: bold;
  margin-top: 7px;
}

.footer-sns {
  margin-top: 5px;
}

.twitter-link {
  margin-right: 5px;
}

.footer-twitter {
  color: #b3b3b3;
  font-size: 20px;
}

.footer-twitter:hover {
  color: rgba(192, 237, 232, 0.5);
}

.footer-facebook {
  color: #b3b3b3;
  font-size: 20px;
}

.footer-facebook:hover {
  color: rgba(192, 237, 232, 0.5);
}

.small {
  margin-top: 40px;
  color: #b3b3b3;
}

.footer-right {
  width: 50vw;
  font-display: flex;
}

.footer-info {
  display: flex;
  justify-content: space-evenly;
}

.information {
  color: white;
}

.information-lists li {
  list-style: none;
  margin-top: 5px;
  color: #b3b3b3;
}

.information-lists a {
  text-decoration: none;
}

.information-lists li:hover {
  opacity: 0.7;
}

.information-lists-second li {
  list-style: none;
  margin-top: 5px;
  color: #b3b3b3;
}

.information-lists-second a {
  text-decoration: none;
}

.information-lists-second li:hover {
  opacity: 0.7;
}

.increments {
  color: white;
}

.example-lists li {
  list-style: none;
  color: #b3b3b3;
  margin-top: 3px;
}

.example-lists a {
  text-decoration: none;
}

.example-lists li:hover {
  opacity: 0.7;
}

.search-notes {
  height: 100%;
}

/* タブレット表示時 */
@media (max-width: 1024px) {
  header {
    height: 30vh;
  }

  .upper-header {
    height: 7vh;
  }
}

/* スマホ表示時 */
@media (max-width: 599px) {
  .upper-header {
    height: 10vh;
  }
  .upper-left a {
    font-size: 15px;
  }

  .upper-right a {
    font-size: 10px;
  }

  .catch-copy {
    margin: 5px auto 0;
    font-size: 15px;
  }

  .explain {
    font-size: 5px;
    margin: 5px auto 0;
  }

  .sns-session {
    display: flex;
    flex-direction: column;
  }

  .sns-login {
    font-size: 15px;
  }

  .facebook-session {
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 2px;
  }
}
