.note-container {
  background-color: #f0f0f0;
  width: 100vw;
  height: calc(100vh - 8vh);
  display: flex;
}

.new-content {
  width: 100%;
  height: 100%;
  margin: 10px 15px;
  background-color: #f0f0f0;
}

.note_form {
  height: 99%;
  width: 100%;
  background-color: #f0f0f0;
}

.caption-area {
  width: 100%;
  height: 80px;
  background-color: #f0f0f0;
}

.field_with_errors {
  display: contents;
}

.title-box {
  height: 50px;
}

.input-title {
  width: 100%;
  height: 100%;
  padding: 8px 78px 8px 10px;
  border-radius: 3px;
  border: solid 1px rgb(221, 221, 221);
  font-size: 24px;
}

.input-title:focus {
  border-color: rgb(102, 175, 233);
  outline: 0px;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset,
    rgba(102, 175, 233, 0.6) 0px 0px 8px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.tag-box {
  margin-top: 5px;
  border: solid 1px transparent;
}

.input-tag {
  width: 100%;
  height: 32px;
  letter-spacing: 0.02em;
  display: block;
  padding: 6px 12px;
  font-size: 14px;
  color: rgb(85, 85, 85);
  background-color: white;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.tag-child {
  background-color: white;
  border-bottom: 1px solid #f0f0f0;
  text-align: center;
  margin: 0 auto;
  width: 99%;
}

.note-new-opt {
  margin-top: 10px;
  display: flex;
}

.note-img {
  font-size: 25px;
  margin-bottom: 20px;
}

.note-smile:hover {
  cursor: pointer;
}

.input-note-image {
  font-size: 10px;
}

.input-note-image:hover {
  cursor: pointer;
}

.note-editor {
  width: 100%;
  height: 88%;
  padding-top: 40px;
  display: flex;
}

.note-area-left {
  width: 100%;
  height: 97%;
  display: flex;
  flex-direction: column;
}

.input-text {
  padding: 3px;
  height: 75%;
}

.input-plan {
  padding: 3px;
  height: 15%;
}

.note-area-right {
  width: 60%;
  height: 97%;
  display: flex;
  flex-direction: column;
}

.note-preview {
  height: 90%;
}

.note-preview textarea {
  padding: 3px;
  height: 100%;
  width: 100%;
  border-left: 1ps solid rgb(221, 221, 221);
  color: rgb(153, 153, 153);
}

.note-submit {
  width: 100%;
  height: 10%;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
}

.plan-btn {
  margin-top: 5px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: 2px solid rgb(56, 135, 224);
  border-radius: 3px;
  outline: none;
  padding: 5px 18px;
  font-size: 14px;
  color: white;
  background-color: rgb(56, 135, 224);
}

.plan-btn:hover {
  background-color: #3e3e3e;
}

#navbarPlanDropdown {
  padding: 5px 8px;
  font-size: 14px;
  height: 31px;
  margin-top: 10px;
  margin-left: -1px;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid rgb(56, 135, 224);
  vertical-align: middle;
  line-height: 1.42857;
  color: white;
  background-color: rgb(56, 135, 224);
}

#navbarPlanDropdown:hover {
  background-color: #3e3e3e;
}

.save {
  margin-right: 5px;
}

.upload {
  margin-right: 5px;
}

@media (max-width: 1024px) {
  .input-note-image {
    opacity: 1;
    left: 35px;
    top: 10px;
  }
}

@media (max-width: 599px) {
  .wrapper {
    overflow: scroll;
  }
  .new-content {
    margin: 10px auto;
  }

  .note-editor {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  .caption-area {
    width: 90%;
    height: 75px;
    margin: 0 auto;
  }

  .input-title {
    height: 70%;
    font-size: 15px;
  }

  .note-area-left {
    width: 95%;
    height: 85%;
    margin: 0 auto;
  }

  .note-area-right {
    width: 95%;
    height: 85%;
    margin: 10px auto 0;
  }

  .note-preview {
    height: 80%;
  }

  .note-submit {
    height: 20%;
  }

  .input-note-image {
    opacity: 1;
    left: 35px;
    top: 10px;
  }
}

@media (max-width: 414px) {
  .note-submit {
    height: 25%;
  }
}
