.wrapper {
  overflow: scroll;
}

.mypage {
  background-color: rgb(240, 236, 236);
  height: calc(100vh - 8vh);
  width: 100vw;
  display: flex;
  justify-content: center;
}

.mypage-left {
  width: 30vw;
  height: 93%;
  margin: 30px;
  margin-right: 5px;
  background-color: white;
}

.mypage-drop {
  float: right;
  height: 10px;
}

.mypage-usericon {
  margin: 30px auto 0;
  text-align: center;
}

.intro-icon {
  height: 72px;
  width: 72px;
  object-fit: cover;
  border: solid 1px #fff;
  border-radius: 70px;
}

.mypage-name {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  color: black;
  margin-top: 5px;
}

.mypage-first-name {
  margin-right: 3px;
}

.mypage-last-name {
  margin-left: 3px;
}

.mypage-up-username {
  color: #777777;
  text-align: center;
}

.mypage-username {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
}

.mypage-web {
  text-align: center;
  margin-top: 10px;
}

.mypage-web a {
  text-decoration: none;
  color: black;
}

.mypage-web i {
  margin-right: 5px;
}

.mypage-introduce {
  line-height: 150%;
  text-align: center;
  margin-top: 20px;
}

.mypage-profile {
  text-align: center;
  margin-top: 30px;
}

.mypage-user-details {
  margin: 20px;
}

.mypage-count {
  text-align: center;
}

.mypage-count a {
  color: gray;
}

.mypage-count p {
  font-weight: bold;
  font-size: 20px;
}

.mypage-count a:hover {
  color: gray;
}

.profile-btn {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  background-color: #777;
  border: #777;
  border-width: medium;
  padding: 7px 15px;
  font-weight: bold;
}

.profile-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.profile-edit {
  color: black;
  text-decoration: none;
}

.profile-edit:hover {
  color: black;
  text-decoration: none;
}

.mypage-right {
  width: 60vw;
  margin: 30px;
  margin-left: 5px;
}

.user-activity {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.user-analyze {
  height: 30%;
  width: 100%;
  background-color: brown;
}

.mypage-notes {
  height: 70%;
  width: 100%;
  background-color: white;
}

.mypage-notes-title {
  font-size: 16px;
  color: black;
  font-weight: bold;
  margin: 5px 0 0 10px;
}

.mypage-squere {
  margin-right: 5px;
  color: rgb(56, 135, 224);
}

.mypage-note-tag {
  margin-top: 10px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  color: rgb(119, 119, 119);
}

.mypage-tag-img {
  margin-left: 8px;
}

.mypage-tag {
  margin-left: 5px;
  text-decoration: none;
  color: rgb(119, 119, 119);
}

.mypage-tag:hover {
  color: rgb(119, 119, 199);
}

.mypage-note-title {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
  margin-left: 8px;
  word-break: break-all;
  color: black;
  line-height: 1.5;
  flex: 1 1 0%;
  border-bottom: 1px solid white;
}

.mypage-note-title:hover {
  cursor: pointer;
  border-bottom: 1px solid black;
}

.mypage-detail {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4px;
  color: rgb(119, 119, 119);
  border-bottom: 1px solid rgb(119, 119, 119);
}

.mypage-fav-comment {
  margin-left: 8px;
}

.mypage-created {
  margin-right: 8px;
}

.paganations li {
  list-style: none;
}

.mypage-nation {
  text-align: center;
  font-size: 14px;
  color: #3e3e3e;
}

.mypage-footer {
  width: 100vw;
  padding: 30px 0;
  display: flex;
  background-color: #3e3e3e;
}
